<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
        	<img src="assets/img/logo.png" width="150px" />
			<form role="form">
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control" id="" placeholder="Email">
					</div>

					<div class="form-group">
						<input type="password" class="form-control" id="" placeholder="Password">
					</div>
				</div>
				<a class="btn rounded-btn" routerLink="/home/songs"> Log in </a>				

			</form>
		</div>	
	</div>
</div>